################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.vsidx
/中测文件转换程序_集创北方BIN+1/DataToExcel/DataToExcel/obj/Debug
/中测文件转换程序_集创北方BIN+1（卡bin）/DataToExcel/DataToExcel/bin/Debug
/中测文件转换程序_集创北方BIN+1/DataToExcel/DataToExcel/app.config
/中测文件转换程序_集创北方BIN+1（卡bin）/DataToExcel/.vs/
/TSK转TXT-赛芯转180/.vs/